/* external CSS */

/* h1 {
  background-color: green;
}

.vip {
  color: pink;
}

p {
  color: blue;
} */

/* .our-girls {
  text-align: center;
} */

/* .text-light {
  color: white;
}

.text-center {
  text-align: center;
}

.bg-black {
  background-color: black;
}

.one {
  background-color: orangered;
  color: black;
}

.fw {
  font-weight: bold;
}

div {
  background-color: orange;
} */

/* .parent {
  width: 50%;

  background-color: orangered;
}

.child {
  width: 50%;

  background-color: green;
} */

/* .x {
  background-color: red;
} */

/* p {
  background-color: black;
  color: white;
}

.special {
  color: green;
}

#para {
  color: orange;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
} */

/* p {
  background-color: green;
  width: 200px;
}

a {
  background-color: red;
  width: 200px;
  height: 200px;
  display: inline-block;
} */

/* .spe {
  color: red;
  background-color: green;
  font-weight: bold;
} */

/* p {
  font: ;
  font-size: 32px;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  text-decoration: overline;
  color: rgba(255, 0, 0, 0);
  display: none;
} */

/* .d1 {
  background-color: tomato;
}

ul {
  list-style-type: square;
  list-style-position: inside;
  list-style-image: url("./");
} */

table {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}
